
@{
    ViewBag.Title = "Index";
}

<h2>Accountpagina</h2>

<p>
    @Html.ActionLink(" ", "Index", "Home", new { Area = "" }, new { @class = "btn btn-success glyphicon glyphicon-home", title = "Startpagina" })
</p>

<div class="container">
    <img src="~/Content/images/unco.jpg" alt="foto" title="Afbeelding" />
</div>

